@model demomvc.Models.Alumno

@{
    ViewData["Title"] = "Matricula";
}

<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h1 class="display-4">Formulario de Matricula</h1>
    
  
    <form asp-controller="Alumno" asp-action="Create">
    <label asp-for="Nombres" class="control-label"></label>
    <input asp-for="Nombres" class="form-control" type="text" placeholder="Escribe tus nombres"/>

    <label asp-for="Apellidos" class="control-label"></label>
    <input asp-for="Apellidos" class="form-control" />

    <label asp-for="Dni" class="control-label"></label>
    <input asp-for="Dni" class="form-control" />

    <label asp-for="FechNac" class="control-label"></label>
    <input asp-for="FechNac" class="form-control" />
    <br>

    <div class="form-group">
        <label asp-for="Genero" class="control-label"></label>
        <select asp-for="Genero">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
     </div>  
    <br>

    <div class="form-group">
        <label asp-for="Carrera" class="control-label"></label>
        <select asp-for="Carrera">
            <option value="Ing. De Sistemas">Ing. De Sistemas</option>
            <option value="Ing. Industrial">Ing. Industrial</option>
            <option value="Ing. Civil">Ing. Civil</option>
            <option value="Arquitectura">Arquitectura</option>
        </select>
     </div>  


    <div class="form-group">
        <button type="submit" class="btn btn-danger">Matricular</button>
    </div>


    </form>
    <h1>@ViewData["Message"]</h1>
</div>
